<footer>
  <div class="footer">
    <div class="logo"><img src="https://assets.change.org/photos/1/yg/ya/vqyGyAIqgPpPFCf-800x450-noPad.jpg?1509404774" alt=""></div>
    <div class="credits">
      <ul>
        <li>Newton Compton Editori s.r.l</li>
        <li>© Copyright 2015 </li>
        <li>P.IVA 08769631006</li>
        <li> <button (click)="return()"><fa-icon [icon]="faCircleUP"></fa-icon></button></li>
      </ul>
    </div>
  </div>
  <div class="created">
    <span>Created by <a href=" https://github.com/Lorenzo-Arnau">Lorenzo Arnaù </a><fa-icon [icon]="copyright"></fa-icon></span>
  </div>
</footer>
