<div class="container-contacts">
  <div class="contacts-credits">
    <div>
      <h2>Brassotti Agency Via dell'Alloro 49, 00172, Roma.</h2>
      <h3>Ufficio Redazione di Real Inside Magazine Via Santa Brigida 51, 80132, Napoli</h3>
      <h3>info@brassottiagency.it</h3>
    </div>
    <div>
      <h2>Newton Compton via Panama, 22 00198 Roma</h2>
      <h3>Promozione: <br>
        Prolibro S.r.l. <br>
        Via Gherardini 10 <br>
        20145 Milano <br>
        tel: 02 3459 7220 <br>
        email: prolibro@prolibro.it</h3>
      <h3> info@newtoncompton.com</h3>
    </div>
  </div>
</div>
