<div class="container-author">
  <h2>Luca <span> Arnaù</span></h2>
 <div class="image-author">
  <img src="https://scontent.fmxp6-1.fna.fbcdn.net/v/t31.18172-8/219607_1955921268448_6672037_o.jpg?_nc_cat=104&ccb=1-3&_nc_sid=174925&_nc_ohc=rDfCqdb1iTYAX8ng4Xp&_nc_oc=AQlAPkXtvyoApgQXKzJqhkppIc_IGhhHryTGtbWMZylsJqUnJFwGPqFbJy4ePmLsQO8&tn=QTFawpqQ788N1vhk&_nc_ht=scontent.fmxp6-1.fna&oh=25ecf3534658f3e6d31517a52b5cc7b4&oe=60DE3DB7" alt="">
 </div>
 <div class="description">
  <p><span>Luca Arnaù</span>, giornalista da sempre, musicista e scrittore per passione.Dopo 12 anni di Secolo XIX ha lasciato la sua Genova per girare il mondo come corrispondente per giornali e riviste.  Genovese di nascita e milanese d’adozione, è un giornalista, direttore di riviste e agenzie di stampa. Ha diretto testate storiche quali «Eva 3000», «Vip», «Ora», «Di Tutto», «Nuova Epoca», «Top Salute», «Corona Star’s». Attualmente lavora come autore di documentari e serie TV. Ha fatto il ghost writer per molti vip e ha scritto racconti sotto pseudonimo. Approda in <span>Brassotti Agency</span> a maggio 2020. </p>
 </div>
 <div class="socials">
  <ul>
    <li><a href="https://www.instagram.com/tv/CJizClkKSAx/"><fa-icon [icon]="instagram"></fa-icon></a></li>
    <li><a href="https://www.facebook.com/luca.arnau"><fa-icon [icon]="facebook"></fa-icon></a></li>
    <li><a href="https://www.linkedin.com/in/luca-arna%C3%B9-874b8352/?originalSubdomain=it"><fa-icon [icon]="linkedin"></fa-icon></a></li>
  </ul>
 </div>
</div>
