<div class="home-container">
  <div class="cover">
    <img src="https://img.illibraio.it/images/9788822748546_92_310_0_75.jpg" alt="">
    <button (click)="buy()">Acquista ora</button>
  </div>
  <div class="carousel">
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/2-_0i4v4Zks?controls=0&autoplay=1&mute=1&loop=1&repeat=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
  </div>
</div>

<main>
  <div class="description">
    <h1>Per accedere alla mente dell’<span>assassino</span>, bisogna conoscere <span>l'inferno</span></h1>
    <p>Firenze, 1481. Uno spietato assassino, subito ribattezzato “Strappacuori”, uccide le sue vittime dopo indicibili tormenti, strappando loro il cuore. Ser Pardo de’ Giovannini, consigliere del Magnifico, ha bisogno di qualcuno che conduca le indagini in modo non ufficiale: le vittime sono molto vicine a Lorenzo de’ Medici. Decide allora di avvalersi dell’ingegno del giovane Leonardo da Vinci. Con l’aiuto di Bencio, il suo giovane allievo, e di Lapo Caperna, il Capo delle Guardie, Leonardo inizia la sua indagine mentre i delitti si susseguono inarrestabili. Grazie al suo acume si accorge ben presto di un inquietante filo conduttore che sembra guidare la mano del colpevole: è l’Inferno dantesco. Ma l’astuzia di Leonardo dovrà fare i conti con la spietata freddezza di un assassino che non si ferma di fronte a nulla pur di portare a compimento la sua raccapricciante opera. Anche per un genio come Leonardo, risolvere questo mistero potrebbe non essere così facile…</p>
    <h3>Un thriller storico che mette in scena due protagonisti d’eccezione: Leonardo da Vinci, all’opera per arrestare una spirale di efferati delitti, e Dante Alighieri, ispiratore di macabri rituali….</h3>
  </div>
  <div class="strukul">
    <div>
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/6f/Matteo_Strukul_in_2019.jpg" alt="">
    </div>
    <div>
     <p>«Nella Firenze dei Medici, Luca Arnaù ambienta una vicenda fosca e crudele. La trama complessa e ben congegnata, lo stile lucido, e a tratti feroce, la rilettura in chiave avventurosa di Leonardo da Vinci fanno di questo romanzo una lettura semplicemente imperdibile.»</p>
     <br> <span> Matteo Strukul</span>
    </div>
  </div>
</main>

